* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body{
    height:100vh;
    width:100vw;
} */

#root {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.25fr 1fr 1fr 0.1fr;

  grid-template-areas:
    "header header header header"
    "main main main sidebar"
    "main main main sidebar"
    "footer footer footer footer";
}

#header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff9e9e;
  filter: drop-shadow(0px 2px 6px black);
}

#header-text {
  padding-left: 4rem;
}
ul {
  display: flex;
  font-size: 1.4rem;
}

ul:last-child {
  padding-right: 4rem;
}

li {
  list-style-type: none;
  padding-left: 2rem;
}


#main-content {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 247, 247) ;
}

.home {
  font-size: 5rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.479));
  text-decoration: underline;

}

#search-bar {
  width: 26rem;
  height: 2rem;
  /* padding-top: 1rem; */
  margin-top:1rem;
  margin-bottom: 1rem;
  background-color:#fdd1d1;
  border:none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.479));
  text-align: center;
}
#search-button{
  margin-left: 3rem;
  
}

#post-area:first-child {
  margin-top: 0;
}

#post-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.2fr 1fr 1fr;
  grid-template-areas:
    "card-title card-title . card-title-author"
    "card-main card-main  card-main  ."
    "card-edit  card-delete . .";

  align-items: center;
  background-color: #fdd1d1;
  height: 12rem;
  width: 40rem;
  margin-bottom: 4rem;
  padding-bottom:1rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.479));
}

#card-title {
  grid-area: card-title;
  margin-top: 0.4rem;
  padding-left: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
}

#card-author {
  margin-top: 0.4rem;
  grid-area: card-title-author;
}

#card-main {
  grid-area: card-main;
  padding-left: 1rem;
}

#card-edit {
  grid-area: card-edit;
  margin-left: 1rem;
}

#card-delete {
  grid-area: card-delete;
  margin-left: 2rem;
}

#side-bar {
  grid-area: sidebar;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f8baba;
  backdrop-filter: blur(5px);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form > input {
  background-color:#fdd1d1;
  border:none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.479));
}

input:focus{
  outline:none;
}

form > * {
  padding: 0.4rem;
  margin-top: 0.4rem;
}

button {
  width: 10rem;
  height: 2rem;
  margin-top:2rem;
}

#footer {
  display: flex;
  grid-area: footer;
  background-color: #ffa0a0;
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
}
